/* Basic CSS reset */
* {
    margin: 0;
    padding: 0;
}

/* ROOT ELEMENTS STYLING */
body {
    font-family: 'DM Sans', sans-serif;
    color: white;
    background-color: #333;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2 {
    font-family: "Special Gothic Expanded One", sans-serif;
}

button {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 0.5rem;
    border: 3px solid white;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: white;
    color: black;
}

input {
    /* width: fit-content; */
    transition: border-bottom 0.3s ease-out, color 0.3s ease-out;
}

input:focus {
    color: gray;
    border: 3px solid transparent;
    border-bottom: 3px solid white;
    outline: none;
    background-color: transparent;
    transition: border-bottom 0.3s ease-out, color 0.3s ease-out;
}

/* CLASSES STYLING */

/* General purpose classes */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wrappers */
.wrapper {
    width: 100%;
    padding: 1.5rem;
}

.global-header-wrapper {
    position: fixed;
    z-index: 99999;
    top: 0;
    text-align: center;
}

.counter-main-wrapper {
    justify-content: space-between;
}

.container {
    position: absolute;
    bottom: 0;

    width: 80vw;
    max-width: fit-content;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-title {
    background-color: transparent;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 1.5rem;
    color: white;
    border: 3px solid transparent;
    text-align: center;
}

.counter-title:hover {
    border-bottom: 3px solid white;
    transition: border 0.3s ease-out;
}

.counter-number-display {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin: 2rem;
}

// ISSUE #01 - Refactor the reset button (apr 2025)
.reset-confirmation {
			display: none;
}